In [46]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import xarray as xr
from astropy.io import fits

In [47]:
filename = 'wasp178b-nrs1.xc'
lc_dir = './lcs/'

In [48]:
ds = xr.open_dataset(lc_dir+filename, engine='h5netcdf')
    
times = ds['time_flux'].values
flux = ds['flux'].values
wavelength = ds['wavelength'].values

print(times.shape)
print(flux.shape)
print(wavelength.shape)

(605,)
(605, 2048)
(2048,)

In [52]:
names=['hatp1b', 'hatp26b', 'toi134b', 'wasp63b', 'wasp107b', 'wasp178b']
vmag=[9.8, 11.8, 11, 11.2, 11.6, 9.9]
kmag=[8.9, 9.6, 7.1, 9.4, 8.6, 9.7]
jmag=[9.156, 10.080, 7.941, 9.818, 9.378, 9.775]
teff=[5980, 5079, 3842, 5550, 4425, 9360]
rp=[1.319, .63, 0.1454, 1.41, .94, 1.81] #jupiter radii
# integnum=[1336, 481, 3359, 1351, 1230, 605] #if it should have been the other axis its a constant 2048
ngroups=[]
ninteg=[]
expstart=[]

In [ ]:
for i in names:
    hdu = fits.open('./lcs/fits/'+i+'.fits')
    ngroups.append(hdu[0].header['NGROUPS']) #nints, expstart
    ninteg.append(hdu[0].header['NINTS']) 
    expstart.append(hdu[0].header['EXPSTART'])

[60632.56848347222,
 60110.17353583333,
 60113.791180277774,
 60706.13683329861,
 60487.394666886576,
 60010.33459359954]

In [ ]:
dct = {'names':names, 'v_mag':vmag, 'j_mag':jmag, 'k_mag':kmag, 'Teff':teff, 'R_p':rp, 'groups':ngroups, 'integrations':ninteg, 'exposure_start':expstart}
table=pd.DataFrame(dct)
table

,names,v_mag,j_mag,k_mag,Teff,R_p,groups,integrations,exposure_start
0,hatp1b,9.8,9.156,8.9,5980,1.3190,19,1336,60632.568483
1,hatp26b,11.8,10.080,9.6,5079,0.6300,48,481,60110.173536
2,toi134b,11.0,7.941,7.1,3842,0.1454,4,3359,60113.791180
3,wasp63b,11.2,9.818,9.4,5550,1.4100,33,1351,60706.136833
4,wasp107b,11.6,9.378,8.6,4425,0.9400,6,4789,60487.394667
5,wasp178b,9.9,9.775,9.7,9360,1.8100,45,605,60010.334594

In [ ]:
table.sort_values(by='j_mag')

,names,v_mag,j_mag,k_mag,Teff,R_p,groups,integrations,exposure_start
2,toi134b,11.0,7.941,7.1,3842,0.1454,4,3359,60113.791180
0,hatp1b,9.8,9.156,8.9,5980,1.3190,19,1336,60632.568483
4,wasp107b,11.6,9.378,8.6,4425,0.9400,6,4789,60487.394667
5,wasp178b,9.9,9.775,9.7,9360,1.8100,45,605,60010.334594
3,wasp63b,11.2,9.818,9.4,5550,1.4100,33,1351,60706.136833
1,hatp26b,11.8,10.080,9.6,5079,0.6300,48,481,60110.173536

In [61]:
table.to_csv('params.csv')